#header {
	display: grid;
	position: relative;

	margin: auto;
	margin-top: 20px;
	padding: 5px 40px;
	width: 80%;
    
	/* border-bottom: 2px solid #65e97f; */

	color: #3dd35b;

	grid-template-columns: auto 1fr;
	grid-template-areas: "title menu";
}
#header > .title {
	padding: 0 40px;
	grid-area: title;
    font-size: 32px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
#header > .title > img.logo {
	width: 50px;
}
#header > .menu {
	display: flex;
	position: absolute;
	bottom: 0px;
	width: 100%;

	padding: 0 40px;
	grid-area: menu;
    font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;

	flex: 1;
	justify-content: right;
}
#header > .menu > .item {
	margin: 0 2px;
	width: 24px;
	height: 24px;
    font-size: 24px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: right;
    
}

.icon {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
}
.icon::before {
	position: absolute;
	background-image: inherit;
	
}
.twitter {
	background-image: url("../icon/twitter.svg");
}
.github {
	background-image: url("../icon/github.png");
}